<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FCB - Articulos</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <header>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="../templates/articles.html">Articulos</a></li>
            <li><a href="../files/legal.pdf">Pagina legal</a></li>
            <li><a href="#">Editores</a></li>
            <li><a href="../files/comite.pdf">Comité tecnico</a></li>
        </ul>
        <nav class="grey darken-4" role="navigation">
            <div class="nav-wrapper">
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="#!">Galeria</a></li>
                    <li><a href="./congreso.html">Congreso</a></li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header">Revista<i class="material-icons right">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="../templates/articles.html">Articulos</a></li>
                                        <li><a href="../files/legal.pdf">Pagina legal</a></li>
                                        <li><a href="#">Editores</a></li>
                                        <li><a href="../files/comite.pdf">Comité tecnico</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="#" class="brand-logo" style="height: inherit">
                    <img class="responsive-img middle-size navbar__images" src="../images/uanl.png" alt="">
                    <img class="responsive-img middle-size navbar__images" src="../images/cnms.png" alt="">
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="#!">Galeria</a></li>
                    <li><a href="./congreso.html">Congreso</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Revista<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a
            </div>
        </nav>
    </header>
    <main class="grey lighten-1">
        <div class="section grey lighten-3">
            <div class="row">
                <div class="container">
                    <h3 class="header center">Investigación y Desarrollo En Ciencia y Tecnología De Alimentos</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <br>
            <h4 class="center">Galeria</h4>
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="../images/gallery/1.jpg">
                    </li>
                    <li>
                        <img src="../images/gallery/2.jpg">
                    </li>
                    <li>
                        <img src="../images/gallery/3.jpg">
                    </li>
                    <li>
                        <img src="../images/gallery/4.jpg">
                    </li>
                    <li>
                        <img src="../images/gallery/5.jpg">
                    </li>
                    <li>
                        <img src="../images/gallery/6.jpg">
                    </li>
                    <li>
                        <img src="../images/gallery/7.jpg">
                    </li>
                </ul>
            </div>
        </div>
        <!-- <img style="width: 100%" src="../images/background.png"> -->
    </main>
    <footer class="page-footer grey darken-4" style="margin-top: 0">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contacto</h5>
                    <p class="grey-text text-lighten-4">Envía un correo a la dirección:  idcyta@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="../script.js"></script>
</body>

</html>
